# App
APP_PORT=8080
API_KEY=your-secret-api-key-here

# Database
DB_HOST=<db_host>
DB_PORT=<db_port>
DB_USER=<db_user>
DB_PASSWORD=<db_password>
DB_NAME=<db_name>

# JWT
JWT_SECRET=your-jwt-secret-here
JWT_EXPIRY_HOURS=<jwt_expiry_hours>

GIN_MODE=release

# rate limit
RATE_LIMIT_LOGIN=5
RATE_LIMIT_CREATE_STAFF=10
RATE_LIMIT_PATIENT_SEARCH=30

# cors orgins
CORS_ORIGIN=http://localhost:3000